<%- include('../dashboard/partials/navbar') %>
<div class="container">
  <h4>LOGIN AS ADMIN</h4><hr>
<a href="/auth/google" class="btn btn-primary">Click Here</a>


</div>
<%- include('../partials/footer') %>
