<%- include('../dashboard/partials/navbar') %>
<div class="container">
  <h4>ADMIN PANEL</h4><hr>
<a href="/auth/google" class="btn btn-primary">Login as Admin</a>


</div>
<%- include('../partials/footer') %>
