<%- include('../dashboard/partials/navbar') %>
<nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="/admin/dashboard" class="text-decoration-none">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">ADD NEW FLOOR</li>
  </ol>
</nav>
<div class="container">
   <h4>ADD NEW BLOCK</h4>
  <hr>
 <form action="/add-new-block" method="POST">
  <div class="mb-3">
    <label  class="form-label">NAME OF THE BLOCK</label>
    <input type="text" class="form-control" name="block" aria-describedby="emailHelp">
  </div>
   <div class="mb-3">
    <label  class="form-label">TYPE</label>
    <div class="form-check">
  <input class="form-check-input" value="AC" type="radio" name="type" id="radioDefault1">
  <label class="form-check-label" for="radioDefault1">
    AC
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" value="NON-AC" type="radio" name="type" id="radioDefault2">
  <label class="form-check-label" for="radioDefault2">
    NON-AC
  </label>
</div>
  </div>

  <div class="mb-3">
    <label  class="form-label">BED AVAILABILITY</label>
    <div class="form-check">
  <input class="form-check-input" type="checkbox" name="beds" value="1 BED" id="checkDefault">
  <label class="form-check-label" for="checkDefault">
    1 BED
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="checkbox" name="beds" value="2 BED" id="checkChecked">
  <label class="form-check-label" for="checkChecked">
    2 BED
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="beds" value="3 BED" id="checkChecked2">
  <label class="form-check-label" for="checkChecked">
    3 BED
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="beds" value="4 BED" id="checkChecked3">
  <label class="form-check-label" for="checkChecked">
    4 BED
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="beds" value="6 BED" id="checkChecked4">
  <label class="form-check-label" for="checkChecked">
    6 BED
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" name="beds" value="8 BED" id="checkChecked5">
  <label class="form-check-label" for="checkChecked">
    8 BED
  </label>
</div>
  </div>

    <div class="mb-3">
    <label  class="form-label">BED TYPE</label>
    <div class="form-check">
  <input class="form-check-input" value="BUNKER" type="radio" name="btype" id="radioDefault1">
  <label class="form-check-label" for="radioDefault1">
    BUNKER
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" value="NON-BUNKER" type="radio" name="btype" id="radioDefault2">
  <label class="form-check-label" for="radioDefault2">
    NON-BUNKER
  </label>
</div>
  </div>

  <table class="table">
    <tr>
      <td colspan="3">
         <div class="mb-3">
    <label  class="form-label">MESS CATERER</label>
    <input type="text" class="form-control" name="mess_caterer" aria-describedby="emailHelp">
  </div>
      </td>
    </tr>

    <tr>
      <td> <div class="mb-3">
    <label  class="form-label">VEG MESS FLOOR</label>

<select name="veg_mess_floor" class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>Open this select menu</option>
    <option value="Ground Floor">Ground Floor</option>

  <option value="First Floor">First Floor</option>
  <option value="Second Floor">Second Floor</option>
  <option value="Third Floor">Third Floor</option>
</select>

  </div></td>
  <td>
     <div class="mb-3">
    <label  class="form-label">NON-VEG MESS FLOOR</label>
<select name="non_veg_mess_floor" class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>Open this select menu</option>
      <option value="Ground Floor">Ground Floor</option>

  <option value="First Floor">First Floor</option>
  <option value="Second Floor">Second Floor</option>
  <option value="Third Floor">Third Floor</option>
</select>  </div>

  </td>
  <td>
     <div class="mb-3">
    <label  class="form-label">SPECIAL MESS FLOOR</label>
<select name="special_mess_floor" class="form-select form-select-sm" aria-label=".form-select-sm example">
  <option selected>Open this select menu</option>
  <option value="Ground Floor">Ground Floor</option>
  <option value="First Floor">First Floor</option>
  <option value="Second Floor">Second Floor</option>
  <option value="Third Floor">Third Floor</option>
</select>  </div>
  </td>
    </tr>
  </table>

 <div class="mb-3">
    <label  class="form-label">BADMINTON COURT</label>
    <div class="form-check">
  <input class="form-check-input" value="Yes" type="radio" name="badminton_court" id="radioDefault1">
  <label class="form-check-label" for="radioDefault1">
YES  </label>
</div>
<div class="form-check">
  <input class="form-check-input" value="No" type="radio" name="badminton_court" id="radioDefault2">
  <label class="form-check-label" for="radioDefault2">
    NO
  </label>
</div>
  </div>


<div class="mb-3">
    <label  class="form-label">IN-BLOCK CHOTA DHOBI FACILITY</label>
    <div class="form-check">
  <input class="form-check-input" value="Yes" type="radio" name="chota_dhobi" id="radioDefault1">
  <label class="form-check-label" for="radioDefault1">
YES  </label>
</div>
<div class="form-check">
  <input class="form-check-input" value="No" type="radio" name="chota_dhobi" id="radioDefault2">
  <label class="form-check-label" for="radioDefault2">
    NO
  </label>
</div>
  </div>




   <div class="mb-3">
    <input type="submit" class="btn btn-outline-primary" value="ADD">
   </div>
 </form>
  
</div>
<%- include('../partials/footer') %>
